/intelienv 
/intellienv
*.csv
*.txt
*.log
!InteligenteEtl/citiesinfo/info_municipios_ibge.csv
*.xlsx
*.env
*.egg-info
__pycache__/
venv
tempfiles
csvs
InteligenteEtl/build/
/.vscode
.venv
anatel_data
anatel_2024
anatel_page_source.html
page_source.html
